$_animation-time: 0.25s;

.popupimage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border-width: 0;

	background-color: #0008;

	padding: 2rem;

	cursor: pointer;

	animation: fadein $_animation-time;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.hiding {
	animation: fadeOut $_animation-time;
}

@keyframes fadeOut {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
	}
}
