%reset-spacing {
	margin: 0;
	padding: 0;
}

body {
	@extend %reset-spacing;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

h1 {
	@extend %reset-spacing;
}

#root {
	min-height: 100vh;

	display: flex;
	flex-direction: column;

	> * {
		padding: 1rem;
	}

	main {
		flex: 1;
	}
}
